<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
    <h2 th:text="${quiz.name}"></h2>


            <div class="form-group">
                <p th:text="'Team Name: ' + ${answers.teamName}"></p>
            </div>


    <!--&lt;!&ndash;        TODO now that teamName is entered, display the quiz and give an answer box to fill it answer that can be -->

    <!--TODO lets do this the tedious route and hardcode each question and answer. Then we can later come back and do
    iteration. I know how to iterate the questions, but I do not know how to iterate each oneAnswer, and then put it into
     a round user answer list.-->

    <!--      This Code is the basic for the iteration route.  -->
    <!--        <div th:each="question : ${quiz.questions}" class="form-group">-->
    <!--            <label th:text="${question.question}"></label>-->
    <!--            <input type="text" id="answer1" name="answer1" value="answer1" />-->
    <!--        </div> -->

    <!--        Below is trying to hard code each question answer. That may not work the best-->
    <table>
        <tr>
            <th>Question</th>
            <th>Correct Answer</th>
            <th>Team Answer</th>
        </tr>
        <tr th:each="question, iStat : ${quiz.questions}">
            <td th:text="${quiz.questions[iStat.index].question}"></td>
            <td th:text="${quiz.questions[iStat.index].answer}"></td>
            <td th:text="${answers.answers[iStat.index].oneanswer}"></td>
        </tr>

<!--        <tr>-->
<!--            <td th:text="${quiz.questions[0].question}"></td>-->
<!--            <td th:text="${quiz.questions[0].answer}"></td>-->
<!--            <td th:text="${answers.answers[0].oneanswer}"></td>-->
<!--        </tr>-->
    </table>


<!--        <p th:text="${answers.oneanswer}"></p>-->

<!--    <div th:each="answer, iStat : ${answers.oneanswer}">-->
<!--        <p th:text="${answer[iStat]}"></p>-->


</div>
</body>
</html>